html{
  font-size: 16px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
a:link{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}
header{
  height:64px;
  margin-left: 24px;
  margin-right: 24px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.headerleft{
  height:32px;
  display: flex;
  align-items: center;
}
nav{
  height:32px;
  display: flex;
  align-items: center;
}
nav span{
  margin-left: 16px;
}
.banner{
  background-color: grey;
  display: flex;
  align-items: center;
}
.banner img{
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  width:60%;
}
.bannerright{
  display: flex;
  flex-direction: column;
}
.banner .bannerright p{
  font-size: 24px;
  font-weight: bold;
}
.banner .bannerright span{
  margin-top:32px;
}
.bannerbutton{
  height:32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: SlateGray;
  margin-top:32px;
}
.information{
  display: flex;
  justify-content: center;
}
.informationleft{
  width:60%;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  padding-bottom:48px;
}
.informationleft img{
  margin-bottom: 32px;
  margin-top: 32px;
}
.information p{
  margin-bottom: 24px;
}
.information span{
  margin-bottom: 32px;
}
.informationright{
  width:40%;
  padding-top:32px;
  border-left: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom:48px;
}
.informationbox1{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 16px;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}
.informationbox1 span{
  margin-top: 8px;
  margin-bottom: 8px;
}
.informationbox1 img{
  width:35%;
  margin-right:5%;
}
.informationboxtext{
  display:flex;
  flex-direction:column;
  width:65%;
  justify-content: center;
}
#courses p{
  margin-top: 32px;
  text-align: center;
  margin-bottom: 18px;
  margin-left: 16px;
}
#courses .courserow{
  width:100%;
  display:flex;
  justify-content: space-between;
}
#courses span{
  margin-left:16px;
}
#courses{
  padding: 2rem 3.5rem;
  background-color: grey;
}
#courses .course img{
  height: auto;
  width:100%;
}
#courses .coursesmobile{
  display:none;
}
.courses-row {
    display: flex;
    justify-content:space-between;
  }
.course{
  flex-basis: 32%;
  background-color: white;
  margin: .25rem 0;
  margin-bottom:8px;
  padding-bottom:8px;
}
body > p{
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.thesis{
  display: flex;
  margin-left: 24px;
  margin-bottom:24px;
}
.thesis .thesisright{
  display: flex;
  flex-direction: column;
  margin-left:24px;
}
.thesis .thesisbox{
  width:100%;
  display:flex;
  align-items: center;
}
.thesis .thesisbox img{
  margin:16px;
  height:auto;
  width:35%;
}
.thesisboxtext{
  display: flex;
  flex-direction: column;
  width:65%;
}
.thesisboxtext p{
  text-align: left;
}

.text{
  width:60%;
  margin-left:24px;
  margin-bottom: 32px;
}
.text p{
  margin-bottom: 8px;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  padding-left: 16px;
}
footer p{
  font-size: 16px;
  font-weight: normal;
}
.mobileheader{
  display:none;
}
.informationright .informationbox1 .informationboxtext img{
  display:none;
}

@media only screen and (max-width: 470px){
    header .headerleft{
      display:none;
    }
    header nav{
      display:none;
    }
    .mobileheader{
      display:flex;
      justify-content: space-around;
      align-items: center;
      height:64px;
      width:100%;
    }
    #courses{
      background-color: white;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #courses .coursesmobile{
      display:flex;
      flex-direction: column;
      align-items: center;
      background-color:white;
      padding-left:16px;
      width:100%;
    }
    #courses .coursesmobile p{
      padding-top:16px;
      padding-bottom:24px;
      padding-left:16px;
      padding-right:16px;
      background-color: grey;
      width:100%;
      text-align: left;
    }
    #courses .courses-row{
      display:none;
    }
    .banner{
      flex-direction: column;
    }
    .banner img{
      width:100%;
      margin-top:0;
    }
    .bannerright{
      display: flex;
      flex-direction: column;
    }
    .banner .bannerright p{
      margin-left:16px;
      margin-bottom:32px;
    }
    .banner .bannerright span{
      margin-bottom:24px;
      margin-left:16px;
    }
    .banner .bannerright .bannerbutton{
      margin-left:16px;
      margin-right:16px;
      margin-bottom:32px;
    }
    .information .informationleft{
      display:none;
    }
    .information{
      width:100%;
    }
    .information .informationright{
      border-left: 0;
      width:93%;
      display:flex;
      flex-direction: column;
      align-items: center;
    }
    .information .informationright .informationbox1{
      flex-direction: column;
      align-items: center;
      width:100%;
      margin-left: 0;
    }
    .information .informationright .informationbox1 .informationboxtext{
      width:100%;
      margin-bottom:32px;
    }
    .information .informationright .informationbox1 .informationboxtext img{
      width:100%;
      display:block;
    }
    .information .informationright .informationbox1 .informationboxtext p{
      text-align:left;
    }
    .informationright .informationbox1 img{
      display:none;
    }
    body p{
      margin-top:32px;
      margin-bottom: 16px;
    }
    .thesis .thesisright{
      display:none;
    }
    footer span{
      margin-top:16px;
      margin-bottom:16px;
    }
    footer p{
      display:none;
    }
    footer{
      border-top:0;
      justify-content: center;
    }
    .text{
      display:none;
    }
    .thesis{
      display: flex;
      flex-direction: column;
      align-items: center;
      width:100%;
      margin:0;
    }
    .thesis video{
      width:100%;
      margin-bottom:24px;
    }
  }
