html{
  font-size: 16px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
header{
  height:64px;
  margin-left: 24px;
  margin-right: 24px;
  display:flex;
  justify-content: space-between;
}
.headerleft{
  height:32px;
  display: flex;
  align-items: center;
}
nav{
  height:32px;
  display: flex;
  align-items: center;
}
nav span{
  margin-left: 16px;
}
.banner{
  background-color: grey;
  display: flex;
  align-items: center;
}
.banner img{
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  width:60%;
}
.bannerright{
  display: flex;
  flex-direction: column;
}
.bannerbutton{
  height:32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: midnightblue;
}
.information{
  display: flex;
  justify-content: center;
}
.informationleft{
  width:60%;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}
.informationleft img{
  margin-bottom: 32px;
  margin-top: 32px;
}
.information p{
  margin-bottom: 24px;
}
.information span{
  margin-bottom: 32px;
}
.informationright{
  width:40%;
  margin-top: 32px;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.informationbox1{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 16px;
}
.informationbox1 span{
  margin-top: 8px;
  margin-bottom: 8px;
}
.informationbox1 img{
  width:35%;
}
.informationboxtext{
  display:flex;
  flex-direction:column;
  width:65%;
  justify-content: center;
}
.courses p{
  margin-top: 32px;
}
.courses{
  margin-left: 72px;
  margin-right: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  margin-bottom: 32px;
  background-color: grey;
}
.courses img{
  height: auto;
}
.course{
  display: flex;
  flex-direction: column;
  margin-bottom:32px;
  width:30%;
  flex-wrap: wrap;
}
.coursetext{
  display: flex;
  flex-direction: column;
}
body p{
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}
.thesis{
  display: flex;
  margin-left: 24px;
  margin-bottom:24px;
}
.thesis .thesisright{
  display: flex;
  flex-direction: column;
  margin-left:24px;
}
.thesis .thesisbox{
  width:40%;
  display:flex;
}
.thesis .thesisbox img{
  margin:16px;
  height:auto;
  width:35%;
}
.thesisboxtext{
  display: flex;
  flex-direction: column;
  width:65%;
}
.text{
  width:60%;
  margin-left:24px;
}
.text p{
  margin-bottom: 8px;
}
footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}
.mobileheader{
  display:none;
}
.informationright .informationbox1 .informationboxtext img{
  display:none;
}

@media only screen and (max-width: 470px){
    header .headerleft{
      display:none;
    }
    header nav{
      display:none;
    }
    .mobileheader{
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .banner{
      flex-direction: column;
    }
    .bannerright{
      display: flex;
      flex-direction: column;
    }
    .information .informationleft{
      display:none;
    }
    .informationright .informationbox1{
      flex-direction: column;
    }
    .informationright .informationbox1{
      align-items: center;
    }
    .informationright .informationbox1 .informationboxtext img{
      display:block;
      width:100%;
    }
    .informationright .informationbox1 img{
      display:none;
    }
    .courses {
      flex-direction: column;
    }
    .courses .course img{
      display:none;
    }
    .courses .course span{
      display:none;
    }
    .courses .course p{
      margin:16px;
    }
    .courses .course{
      background-color:grey;
      margin-bottom:8px;
    }
    body p{
      margin-top:32px;
      margin-bottom: 16px;
    }
    .courses{
      margin-bottom:32px;
    }
    .thesis .thesisright{
      display:none;
    }
    footer span{
      margin-top:16px;
      margin-bottom:16px;
    }
    footer p{
      display:none;
    }
    .text{
      display:none;
    }
  }
