html{
  font-size: 16px;
}
header{
  height:64px;
  margin-left: 24px;
  margin-right: 24px;
  display:flex;
  justify-content: space-between;
}
.headerleft{
  height:32px;
  display: flex;
  align-items: center;
}
nav{
  height:32px;
  display: flex;
  align-items: center;
}
nav span{
  margin-left: 16px;
}
.banner{
  background-color: grey;
  display: flex;
  align-items: center;
}
.banner img{
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  width:60%;
}
.bannerright{
  display: flex;
  flex-direction: column;
}
.bannerbutton{
  height:32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: midnightblue;
}
.information{
  display: flex;
  justify-content: center;
}
.informationleft{
  width:60%;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}
.informationleft img{
  margin-bottom: 32px;
  margin-top: 32px;
}
.information p{
  margin-bottom: 24px;
}
.information span{
  margin-bottom: 32px;
}
.informationright{
  width:40%;
  margin-top: 32px;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.informationbox1{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 16px;
}
.informationbox1 span{
  margin-top: 8px;
  margin-bottom: 8px;
}
.informationbox1 img{
  width:35%;
}
.informationboxtext{
  display:flex;
  flex-direction:column;
  width:65%;
  justify-content: center;
}
